.order-item {
    background-color: gainsboro;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid darkgrey;
    margin-bottom: 5px;
}

.order-item:hover {
    cursor: pointer;
    opacity: .8;
}
.item-done {
    background-color: lightseagreen;
}
.main-block {
    margin: 0 5px 0 5px;
}
.create-form-block {
    display: flex;
    gap: 10px;
    align-items: center;
}